body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  /* background-color: #8ca698; */
  background-image: url("../img/bg.jpg");
  background-position: 100%;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

ul {
  list-style: none;
}

button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #ef6140;
}

button:hover,
button:focus {
  background-color: #f38267;
}

.button:active {
  background-color: #dc5539;
}

input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #d3d3d3;
}

input:hover,
input:focus {
  border: 1px solid #c7c6c5;
}

input:active {
  border: 1px solid #8fbdec;
}

.page-wrapper {
  background-color: #849d8f;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.site-content {
  margin-left: 27px;
  margin-right: 27px;
}

.main-header {
  display: flex;
}

.logo {
  display: flex;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  /* margin-right: auto; */
}

.site-menu {
  display: flex;
  padding: 0px;
}

.sub-menu {
  display: none;
}

.menu-item {
  margin-left: 20px;
  flex-wrap: nowrap;
}

.menu-item-link {
  white-space: nowrap;
}

.user-navigation {
  display: flex;
  margin-top: 8px;
  margin-left: 370px;
  margin-bottom: 0;
  padding: 0px;
}

.header-button-search {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.header-button-entrance {
  padding-right: 17px;
  padding-left: 17px;
  height: 32px;
  margin-left: 8px;
}

.image-entrance {
  margin-right: 5px;
}

.header-button-basket {
  padding-right: 17px;
  padding-left: 17px;
  height: 32px;
  margin-left: 8px;
}

.image-basket {
  margin-right: 5px;
}

.header-button {
  display: flex;
  background-color: #a1b5aa;
  border: 0;
  white-space: nowrap;
  /* border-top-left-radius: 16px;
  border-top-left-radius: 16px;
  border-top-left-radius: 16px;
  border-top-left-radius: 16px; */
  border-radius: 16px;
}

.header-button:focus,
.header-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.site-navigation,
.user-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #ffbc9e;
}

.user-content {
  display: flex;
  justify-content: space-between;
}

.user-information {
  text-align: right;
  margin-top: 0px;
}

.navigation-content {
  order: -1;
}

.site-explorer {
  display: flex;
  padding: 0;
  margin-left: 27px;
  margin-top: 24px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  font-weight: bold;
  z-index: 159;
}

.phone-number {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
  margin-top: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider3.png");
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.site-wrapper, page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.stock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.raspberry {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 19px;
  background-color: #8ca698;
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
  width: 560px;
}
.raspberry-text{
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 22px;
  text-align: left;
  z-index: 166;
}

.contant {
  padding: 20px;
}

.bold-font {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
}

.button-stock-raspberry {
  border: 0;
  margin-left: 355px;
  margin-top: 46px;
  height: 46px;
  padding-right: 22px;
  padding-left: 22px;
  white-space: nowrap;
  border-radius: 35px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
  width: 169px;
}

.button-stock-chocalate {
  border: 0;
  margin-left: 330px;
  margin-top: 46px;
  height: 46px;
  padding-right: 22px;
  padding-left: 22px;
  white-space: nowrap;
  border-radius: 35px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
  width: 193px;
}

.chocolate {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 19px;
  background-color: #8ca698;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
  width: 560px;
}

.ice-cream-list {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-top: 38px;
}

.card-content {
  position: relative;
}

.card-price {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.card-link {
  text-align: center;
}

.features {
  /* border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;*/
  border-radius: 14px;
  margin-top: 40px;
  color: #323232;
  background-image: url("../img/waffle.bg.jpg");
  background-repeat: no-repeat;
}

.features-text {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.feature-item {
  display: flex;
  flex-direction: column;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 476px;
  margin-left: 60px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.blog-list {
  /* display: block; */
  color: #323232;
  border-radius: 14px;
  background-color: #8ca698;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 220px;
}

.blog-text {
  margin-top: 0;
}

.blog-link {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.mail {
  display: block;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  padding: 27px;
  background-image: url("../img/substrate.jpg");
  background-repeat: no-repeat;
}

.mail-text {
  margin: 0;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.box-mail {
  display: flex;
}

.email {
  margin-top: 39px;
  width: 350px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  background-color: #ffffff;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 13px;
}

.button-email {
  margin-left: 12px;
  margin-top: 39px;
  width: 129px;
  height: 44px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 0;
  border-radius: 35px;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.location {
  display: flex;
  margin-top: 40px;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  background-color: #8ca698;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 432px;
}

.text-location {
  margin-top: 64px;
  margin-left: 873px;
  margin-right: 30px;
  margin-bottom: 64px;
  padding: 25px;
  border-radius: 15px;
  background-color: #ffffff;
  width: 302px;
  /* height: 305px; */
}

.adress {
  margin: 0;
  /* width: 147px;
  height: 34px; */
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px
}

.bold {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 9px;
  padding-bottom: 26px;
}

.bold-number {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 26px;
}

.button-location {
  margin-top: 26px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 0;
  border-radius: 35px;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  width: 252px;
  height: 44px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}

.social-netmork {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-item {
  margin-left: 10px;
}

.menu-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  padding: 0;
  width: 352px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  width: 173px;
}

.produce {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.link-produce {
  text-decoration: underline;
}

.hidden {
  display: none;
  visibility: hidden;
}

.page-title {
  margin-left: 27px;
  margin-top: 0;
}

.filters fieldset {
  border: none;
}

.name-filters {
  font-size: 14px;
  font-weight: lighter;
  line-height: 16px;
  text-align: left;
  z-index: 148;
}

.filters {
  display: flex;
  justify-content: space-between;
  /* display: inline-flex; */
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 18px;
  margin-left: 27px;
  width: 880px;
}

.sorting-filter {
  width: 201px;
}

.price-filter {
  width: 221px;
}

.fat-filter {
  width: 420px;
}

.fillers-filter {
  width: 703px;
}

.filter {
  padding: 0;
  margin: 0;
}

.filter-list {
  display: flex;
  justify-content: space-between;
}

.form-filters {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  background-color: #a1b5aa;
  border-radius: 35px;
  border: 0;
  white-space: nowrap;
  z-index: 145;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.filter-button {
  background-color: #a1b5aa;
  border: 5px;
  white-space: nowrap;
  border-radius: 18px;
  width: 145px;
  height: 39px;
  text-align: center;
  margin-top: 38px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
}

/* padding-left: 31px;
  padding-right: 31px;
  padding-top: 8px;
  padding-bottom: 8px; */
.paginator {
  width: 280px;
  margin-left: 800px;
  padding: 10px;
  white-space: nowrap;
}

.paginator a {
  padding: 0 10px;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.paginator .prev {
  margin-right: 20px;
  /* background-image: url("../img/svg-gllacy/icon-right-small.svg"); */
  background-repeat: no-repeat;
  background-position: 0 0;
}

.paginator .next {
  margin-left: 20px;
  /* background-image: url("../img/svg-gllacy/icon-right-small.svg"); */
  background-position: 0 -40px;
  background-repeat: no-repeat;
  /* text-indent: -1000px; */
}

.page-number {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.page-number:focus {
  color: #000000;
  background-color: #ffffff;
}
